{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.js"></script>  {#ne pas oublier de dl les fichier et les mettre dans public#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
{% endblock %}


{% block title %}GraphController!{% endblock %}



{% block body %}
        <h2 class="mb-4">Les avis</h2>
{% dump(data_gout) %}
{% dump(data_diversite) %}

{# <a class="btn btn-success" href="#" id="downloadPdf">{{'Send PDF'|trans}}</a> #}
<button class="btn btn-success" onclick="downloadPDF()">PDFversion</button>
<br/><br/>
<table>
    <tr>
        <td>
            <div class="pie-chart">
                <canvas id="Gout"></canvas>
            </div>
        </td>
        <td>
            <div class="pie-chart">
                <canvas id="Diversite"></canvas>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="pie-chart">
                <canvas id="Chaleur"></canvas>
            </div>
        </td>
        <td>
            <div class="pie-chart">
                <canvas id="Disponibilite"></canvas>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="pie-chart">
                <canvas id="Proprete"></canvas>
            </div>
        </td>
        <td>
            <div class="pie-chart">
                <canvas id="Accueil"></canvas>
            </div>
        </td>
    </tr>
</table>

<script>
const bgColor = {
    id: 'bgColor',
    beforeDraw: (chart, options) => {
      const { ctx, width, height} = chart;
      ctx.fillStyle = 'white';
      ctx.fillRect(0, 0, width, height)
      ctx.restore();
    }
}

const gout = document.getElementById('Gout').getContext('2d');
const mesGout = new Chart(gout, {
    type: 'pie',
    data: {{ data_gout|raw }},
     options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Goûts'
      }
    }
  },
  plugins: [bgColor]
});

const diversite = document.getElementById('Diversite').getContext('2d');
const mesDiversite = new Chart(diversite, {
    type: 'pie',
    data: {{ data_diversite|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Diversité des plats'
      }
    }
  },
  plugins: [bgColor]
});

const chaleur = document.getElementById('Chaleur').getContext('2d');
const laChaleur = new Chart(chaleur, {
    type: 'pie',
    data: {{ data_chaleur|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chaleur des plats'
      }
    }
  },
  plugins: [bgColor]
});

const disponibilite = document.getElementById('Disponibilite').getContext('2d');
const laDisponibilite = new Chart(disponibilite, {
    type: 'pie',
    data: {{ data_disponibilite|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Disponibilité'
      }
    }
  },
  plugins: [bgColor]
});

const proprete = document.getElementById('Proprete').getContext('2d');
const laProprete = new Chart(proprete, {
    type: 'pie',
    data: {{ data_proprete|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Propreté du self'
      }
    }
  },
  plugins: [bgColor]
});

const accueil = document.getElementById('Accueil').getContext('2d');
const Laccueil = new Chart(accueil, {
    type: 'pie',
    data: {{ data_accueil|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Accueil du self'
      },
    }
  },
  plugins: [bgColor]
});

function downloadPDF(){
  const Gout = document.getElementById('Gout');
  const GoutImage = Gout.toDataURL('image/jpeg', 1.0);

  const Diversite = document.getElementById('Diversite');
  const DiversiteImage = Diversite.toDataURL('image/jpeg', 1.0);

  const Chaleur = document.getElementById('Chaleur');
  const ChaleurImage = Chaleur.toDataURL('image/jpeg', 1.0);

  const Disponibilite = document.getElementById('Disponibilite');
  const DisponibiliteImage = Disponibilite.toDataURL('image/jpeg', 1.0);

  const Proprete = document.getElementById('Proprete');
  const PropreteImage = Proprete.toDataURL('image/jpeg', 1.0);

  const Accueil = document.getElementById('Accueil');
  const AccueilImage = Accueil.toDataURL('image/jpeg', 1.0);

  let pdf = new jsPDF('portrait');
  pdf.setFontSize(20);

  pdf.text(15,15, "Les avis sur le self")
  pdf.addImage(GoutImage, 'JPEG', 50, 20, 110, 110);
  pdf.addImage(DiversiteImage, 'JPEG', 50, 160, 110, 110);
  pdf.addPage();
  pdf.addImage(ChaleurImage, 'JPEG', 50, 20, 110, 110);
  pdf.addImage(DisponibiliteImage, 'JPEG', 50, 160, 110, 110);
  pdf.addPage();
  pdf.addImage(PropreteImage, 'JPEG', 50, 20, 110, 110);
  pdf.addImage(AccueilImage, 'JPEG', 50, 160, 110, 110);

  pdf.save('Graphique_Feedback.pdf');

}
</script>
{# <script src="{{asset('js/pdf.js') }}"></script> #}
{% endblock %}



