{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js" integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block title %}GraphController!{% endblock %}



{% block body %}
        <h2 class="mb-4">Les avis</h2>
{% dump(data_gout) %}
{% dump(data_diversite) %}

{# <a class="btn btn-success" href="#" id="downloadPdf">{{'Send PDF'|trans}}</a> #}
<button onclick="downloadPDF()">PDFversion</button>

<table>
    <tr>
        <td>
            <div class="pie-chart">
                <canvas id="Gout"></canvas>
            </div>
        </td>
        <td>
            <div class="pie-chart">
                <canvas id="Diversite"></canvas>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="pie-chart">
                <canvas id="Chaleur"></canvas>
            </div>
        </td>
        <td>
            <div class="pie-chart">
                <canvas id="Disponibilite"></canvas>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="pie-chart">
                <canvas id="Proprete"></canvas>
            </div>
        </td>
        <td>
            <div class="pie-chart">
                <canvas id="Accueil"></canvas>
            </div>
        </td>
    </tr>
</table>

<script>
const gout = document.getElementById('Gout').getContext('2d');
const mesGout = new Chart(gout, {
    type: 'pie',
    data: {{ data_gout|raw }},
     options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Goûts'
      }
    }
  },
});

const diversite = document.getElementById('Diversite').getContext('2d');
const mesDiversite = new Chart(diversite, {
    type: 'pie',
    data: {{ data_diversite|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Diversité des plats'
      }
    }
  },
});

const chaleur = document.getElementById('Chaleur').getContext('2d');
const laChaleur = new Chart(chaleur, {
    type: 'pie',
    data: {{ data_chaleur|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chaleur des plats'
      }
    }
  },
});

const disponibilite = document.getElementById('Disponibilite').getContext('2d');
const laDisponibilite = new Chart(disponibilite, {
    type: 'pie',
    data: {{ data_disponibilite|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Disponibilité'
      }
    }
  },
});

const proprete = document.getElementById('Proprete').getContext('2d');
const laProprete = new Chart(proprete, {
    type: 'pie',
    data: {{ data_proprete|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Propreté du self'
      }
    }
  },
});

const accueil = document.getElementById('Accueil').getContext('2d');
const Laccueil = new Chart(accueil, {
    type: 'pie',
    data: {{ data_accueil|raw }},
    options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Accueil du self'
      }
    }
  },
});

function downloadPDF(){
  const canvas = document.getElementById('Accueil');
  const canvasImage = canvas.toDataURL('image/jpeg', 1.0);
  console.log(canvasImage);
}
</script>
{# <script src="{{asset('js/pdf.js') }}"></script> #}
{# https://www.youtube.com/watch?v=U5CVVBY61KY #}
{% endblock %}



